<div id="main_menubar">
  <div class="menubar_layout"></div>
  <ul>
    <li class="logo">
      <img src="assets/img/ic/logo.svg" style="width: 24px;height: 24px;" />
      <ul>
        <li id="about_this_mac_btn"><a href="https://hanjing7.github.io/"><p>Jing's Github Blog</p></a></li>
        <li><a href="http://hanjing7.com/"><p>Jing's Previous Site</p></a></li>
        <li>
          <p>App Store...</p>
        </li>
        <div class="split_line"></div>
        <li>
          <p>System Preferences...</p>
        </li>
        <li>
          <p>Dock</p>
          <div class="right_arrow_space"></div>
          <div class="right_arrow">▶</div>
          <ul>
            <li>
              <p>Turn Hidding On</p>
              <div class="right_arrow_space">⌥⌘D</div>
              <div class="right_arrow">⌥⌘D</div>
            </li>
            <li>
              <p>Turn Magnification On</p>
            </li>
            <div class="split_line"></div>
            <li>
              <p>Position on Left</p>
            </li>
            <li>
              <div class="left_check">✓</div>
              <p>Position on Bottom</p>
            </li>
            <li>
              <p>Position on Right</p>
            </li>
            <div class="split_line"></div>
            <li>
              <p>Dock Preferences...</p>
            </li>
          </ul>
        </li>
        <li>
          <p>Location</p>
          <div class="right_arrow_space">▶</div>
          <div class="right_arrow">▶</div>
          <ul>
            <li>
              <div class="left_check">✓</div>
              <p>Automatic</p>
            </li>
            <li>
              <p>Location (12-12-15 PM2:06)</p>
            </li>
            <li>
              <p>Location (12-12-15 PM2:07)</p>
            </li>
            <li>
              <p>Location (12-12-21 PM3:50)</p>
            </li>
            <div class="split_line"></div>
            <li>
              <p>Network Preferences...</p>
            </li>
          </ul>
        </li>
        <div class="split_line"></div>
        <li>
          <p>Public Projects</p>
          <div class="right_arrow_space">▶</div>
          <div class="right_arrow">▶</div>
          <ul>
            <div class="menu_block">
              <p>FINRA</p>
              <li id="browser_btn"><a href="https://brokercheck.finra.org/" target="_blank"><p>
                BrokerCheck</p></a></li>
              <li><a href="https://ofac.finra.org/#/" target="_blank"><p>OFAC Search Tool</p></a></li>
              <li><a href="https://tools.finra.org/fund_analyzer/" target="_blank"><p>Fund Analyzer</p>
              </a></li>
            </div>
            <div class="split_line"></div>
            <div class="menu_block">
              <p>FINRA Sides Project</p>
              <li><a href="https://www.finra.org/compliance-calendar" target="_blank"><p>Compliance
                Calendar</p></a></li>
              <li><a href="https://www.finra.org/compliance-calendar" target="_blank"><p>Investor.gov</p>
              </a></li>
              <li><a href="https://www.finra.org/compliance-calendar" target="_blank"><p>Compliance
                Calendar</p></a></li>
            </div>
            <div class="split_line"></div>
            <div class="menu_block">
              <p>Nexient</p>
              <li><a href="http://mylife.adpts.com/" target="_blank"><p>ADP Portal</p></a></li>
              <li>
                <p>root</p>
              </li>
            </div>
            <div class="split_line"></div>
            <li>
              <p>Clear Menu</p>
            </li>
          </ul>
        </li>
        <div class="split_line"></div>
        <li>
          <p class="grey_li">Force Quit...</p>
          <div class="right_arrow_space">⌥⌘⎋</div>
          <div class="right_arrow">⌥⌘⎋</div>
        </li>
        <div class="split_line"></div>
        <li>
          <p>Sleep</p>
        </li>
        <li>
          <p>Restart...</p>
        </li>
        <li id="shutdown">
          <p>Shut Down...</p>
        </li>
        <div class="split_line"></div>
        <li>
          <p>Log Out ds...</p>
          <div class="right_arrow_space">⇧⌘Q</div>
          <div class="right_arrow">⇧⌘Q</div>
        </li>
      </ul>
    </li>


    <div id="right_icon">
      <li>
        <p>{{systemTime}}</p>
        <ul>
          <li class="grey_li">
            <p>{{systemDate}}</p>
          </li>
          <div class="split_line"></div>
          <li>
            <p>View as Analog</p>
          </li>
          <li>
            <div class="left_check">✓</div>
            <p>View as Digital</p>
          </li>
          <div class="split_line"></div>
          <li>
            <p>Open Date & Time Preferences...</p>
          </li>
        </ul>
      </li>
      <li>
        <i class="fa fa-lock"></i>
      </li>
      <li>
        <p>ds</p>
        <ul>
          <li class="user_bar grey_li">
            <p>ds</p>
          </li>
          <div class="split_line"></div>
          <li>
            <p>Login Window...</p>
          </li>
          <div class="split_line"></div>
          <li>
            <p>Users & Groups Preferences...</p>
          </li>
        </ul>
      </li>
      <li>
        <i class="fa fa-volume-up system_volume" style="width:14px"></i>
        <ul class="system_volume">
          <input type="range" id="volume"/>
        </ul>
      </li>
      <li>
        <i class="fa fa-search"></i>
        <ul class="spotlight">
          <li class="spotlight_bar">
            <p>Spotlight</p>
            <input type="search">
          </li>
        </ul>
      </li>
      <li class="sidebar_btn">
        <i class="fa fa-list"></i>
      </li>
    </div>
  </ul>
</div>

