<div class="entries">
  <div class="entry"></div>
  <div class="entry">
    <div class="title big">Current</div>
    <div class="sub_title"><a href=""> BYTON</a></div>
    <div class="location">
      Sr. UX Engineer
      <!--& Manager -->
    </div>
    <div class="body">
      <p>Designed internal tools for BYTON Aftersales team to run:</p>
      <ul>
        <!--dir="rtl"-->
        <li><a href=""> Smart Diagnostics</a></li>
        <li>
          <a class="tooltip" href="">
            OTA
            <span class="tooltiptext">Over The Air Deployment</span>
          </a>
          /
          <a class="tooltip" href="">
            DSMP
            <span class="tooltiptext"
            >Digital Service Management Platform that manages SIM Cards
                  Status</span
            >
          </a>
          /
          <a class="tooltip" href=""
          >GBT
            <span class="tooltiptext"
            >Global battery charging management system</span
            >
          </a>
        </li>
        <li>
          <a class="" href="">BYTON Website </a>
        </li>
      </ul>

      <p>
        Created style guides with media, icon library to communicate brand
        value. In the mean time, introduced and built web based style
        library to ensure design consistency.
      </p>
      <p><a href=""> Web Style Guide</a> / <a href=""> Sketch UI Lib</a></p>
      <p>Manages a team of 3 supports department wide design tasks.</p>
    </div>
  </div>

  <div class="entry">
    <div class="title ">2018</div>
    <div class="sub_title"><a href=""> FINRA </a></div>
    <div class="location">UX/UI Designer II</div>
    <div class="body">
      <p>
        Worked in agile teams to improve central licensing and registration
        system that helps companies better manages compliance tasks.
      </p>
      <p>
        <a class="tooltip" href="">
          Web CRD
          <span class="tooltiptext">...</span>
        </a>
        /
        <a class="tooltip" href="">
          FinPro
          <span class="tooltiptext">...</span>
        </a>
        /
        <a class="tooltip" href="">
          TESS
          <span class="tooltiptext">...</span>
        </a>
      </p>

      <p>Redesigned the top 3 traffic driving websites in FINRA</p>
      <a class="tooltip" href="">
        BrokerCheck
        <span class="tooltiptext">...</span>
      </a>
      /
      <a class="tooltip" href="">
        FundAnalyzer
        <span class="tooltiptext">...</span>
      </a>
      /
      <a class="tooltip" href="">
        OFAC
        <span class="tooltiptext">...</span>
      </a>
      <p>Lead a team of 2 designers within the RAD domain.</p>
      <p>
        Design & coded <a href="">FINRA Carpool App</a> to help employees
        find matching riders on commute.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2015</div>
    <div class="sub_title"><a href=""> Nexient </a></div>
    <div class="location">UX Designer</div>
    <div class="body">
      <p>
        As the very first and only designer, help integrated numerous
        internal tools for Fortune 500 companies, including NBCU Move hond
        App, 11 Main site design,
        <a href="http://mylife.adpts.com/">ADP Health Portal</a>, Best Buy
        Agent UI, and Hagerty iOS App.
      </p>
    </div>
  </div>

  <div class="entry">
    <div class="title ">2014</div>
    <div class="sub_title">
      <a href=""> UMich Cancer Center Informatics </a>
    </div>
    <div class="location">Programmer Analyst (Part Time)</div>
    <div class="body">
      <p>
        Design, developed and styled
        <a
          href="https://cci.med.umich.edu/cancer-center-informatics-overview"
        >CCI website</a
        >
        in Drupal CMS platform
      </p>
      <p>
        Performing contextual Inquiry among department to improve business
        process flow
      </p>
      <p>
        Installed and utilized data analysis tools including Pentaho &
        Tableau to visualize database info
      </p>
      <!-- <p>System evaluation, requirements identification and feedback analysis</p> -->
    </div>
  </div>
  <div class="entry">
    <div class="title">2013</div>
    <div class="sub_title"><a href=""> University of Michigan</a></div>
    <div class="location">Ann Arbor, Michigan • GPA: 3.6</div>
    <div class="body">
      <p>M.S. of Informatics - Human Computer Interaction</p>
      <p><a href="">Transcript</a></p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2012</div>
    <div class="sub_title"><a href=""> WinLong Tech Inc.</a></div>
    <div class="location">GUI Developer</div>
    <div class="body">
      <p>
        Designed and wireframe the company website and name card for all
        employees and Developed system GUI under Linux to retrieve and
        display system data and created customized system configurations and
        interfaces.
      </p>
      <a href="https://api.ai2hit.com/activity/">Ai2Hit</a>
    </div>
  </div>

  <div class="entry">
    <div class="title">2008</div>
    <div class="sub_title">University of Arizona</div>
    <div class="location">Tucson, Arizona • GPA: 3.7</div>
    <div class="body">
      <p>
        B.S. of Business Administration - Management Information System &
        Minor in Mathematics
      </p>
      <p>
        Magna Cum Laude / Salter Award for Leadership and Services / “Eller
        100” for Outstanding Graduates
      </p>
      <p><a href="">Transcript</a></p>
    </div>
  </div>
  <div class="entry">
    <div class="title">VIEW</div>
    <div class="sub_title"><a class="red" href="http://google.com"
    ><i class="fa fa-download"></i><b> Jing's Resume</b></a
    > </div>
    <div class="location">
      <p>.</p>
      <p>.</p>
      <p>.</p>
    </div>
  </div>

  <!--Background Display with Map-->
  <div class="dot" id="elem"></div>
  <div class="bg" id="count"></div>
</div>
