<nav>
  <!--home-->
  <!--<a routerLink="/blog">blog</a>-->
  <!--<a routerLink="/code">code</a>-->
  <!--<a routerLink="/contact">contact</a>-->
  <!--<a routerLink="/gallery">gallery</a>-->
  <!--<a routerLink="/project">project</a>-->

  <div id="dockbottom">
    <div id="container">
      <a routerLink="/home">
        <img src="../../assets/img/About.png">
      </a>
      <a routerLink="/project">
        <img src="../../assets/img/Project.png">
      </a>
      <a routerLink="/gallery">
        <img src="../../assets/img/Graphics.png">
      </a>
      <a routerLink="/code">
      <img src="../../assets/img/Code.png">
      </a>
      <a routerLink="/contact">
      <img src="../../assets/img/Contact.png">
      </a>
      <a routerLink="/blog">
      <img src="../../assets/img/About.png">
      </a>
      <!--<img src="images/Contact.png">-->
      <div id="bg"></div>
    </div>
  </div>

</nav>



